﻿@{
    ViewData["Title"] = "Data load Confirmation";
}

    <div class="alert-info">
        Data have been uploaded.</br>

        <a href="/Home/Sales" class="btn btn-block btn-primary">View Loaded Data</a>
    </div>