﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <h3>Dealer Track</h3>
</div>

<div class="row">
    <div class="col-md-4">
        <a href="/Home/UploadDataFile" class="btn btn-block btn-primary">Upload Data File</a>
    </div>
    <div class="col-md-4">
        <a href="/Home/Sales" class="btn btn-block btn-primary">View All Sales</a>
    </div>
    <div class="col-md-4">
        <a href="" class="btn btn-block btn-primary">Most Sold Model</a>
    </div>
</div>

<div class="row">
<br />
    There are 5 French accents: the cédille Ç, the accent aigu é, the accent circonflexe â, ê, î, ô, û, the accent grave à, è, ù
</div>

