﻿@model IEnumerable<VehicleSalesModel>
@{
    ViewData["Title"] = "Sales Report";
}
<style type="text/css">
    .row-striped:nth-of-type(odd) {
        background-color: #efefef;
    }

    .row-striped:nth-of-type(even) {
        background-color: #ffffff;
    }
</style>


<h2>All Sales</h2>

@if (!Model.Any())
{
    <table class="table table-condensed table-bordered">
        <thead class="bg-primary">
            <tr><td colspan="3" class="text-center">No data to show.</td></tr>
        </thead>
    </table>
}
else
{
    <table class="table table-condensed table-bordered">
        <thead class="bg-primary">
            <tr>
                <th>Deal Number</th>
                <th>Customer Name</th>
                <th>Dealership Name</th>
                <th>Vehicle</th>
                <th>Price</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.DealNumber</td>
                    <td>@item.CustomerName</td>
                    <td>@item.DealershipName</td>
                    <td>@item.Vehicle</td>
                    <td>CDN @item.Price.ToString("C")</td>
                    <td>@item.Date</td>

                </tr>
            }
        </tbody>
    </table>
}
