﻿@{
    ViewData["Title"] = "Upload Data File";
}
<h2>Upload Files</h2>
<div class="row">
    <section>
        <form method="post" enctype="multipart/form-data"
              asp-controller="Home" asp-action="UploadDataFile">
            <div class="form-group">
                <div class="col-md-10">
                    <input type="file" name="files" multiple />
                </div>
            </div>
            <br /><br />
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Upload" class="btn btn-primary"/>
                </div>
            </div>
        </form>
    </section>
</div>